    <!-- Strategy Section -->
    <section id="services" class="content-section text-center">
        <div class="strategy-section">
            <div class="container" class="services-container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Execution</h1>
                    <h2>You have a plan. Now get out there!</h2>
                    <p>You’ve defined your product, you know your audience, you have a plan, it’s time to execute! We work with our clients to create meaningful, impactful creative based on real insights, and provides expert media buying expertise for campaigns of any scale.</p> 
                    <p>In the implementation phase, we instantiate the campaign defined in the strategy. Everything from messaging and creative to tracking and measurement are configured in this phase. And with every campaign launch comes new learnings, and that’s why our approach is designed to be flexible. Optimization is baked in.</p>
                    <h2>A data-driven approach</h2>
                    <p>Digital is all about data. Our campaigns are designed to flex and grow based on the feedback we receive from Analytics and our digital platforms. A key component of implementation is knowing how to read the tea leaves, so to speak. We listen to the data, report back to you, and adapt creative, targeting and budgets to meet changing needs and performance.</p> 
                    <h2>Integration</h2>
                    <p>The idealized user flow we develop in the strategy development phase becomes a roadmap in the implementation phase. Awareness building, retargeting, multi-channel campaigns, all of these things fit together, tightly coupled in your digital ecosystem. We make sure your digital platforms are integrated so that you can guide your users down that idealized user journey. We help you move prospects from awareness, to acceptance, and then action, delivering the right messages at the right time, on the right channels.</p> 
                    <h2>Fractal offers the following execution services and deliverables:</h2>
                    <ul class="bullet-list">
                        <li>Web implementation support</li>
                        <li>Media buying</li>
                        <li>Campaign reportin & tracking</li>
                        <li>Analysis & Optimization</li>
                    </ul>
                        <h2>Take a look at some other relevant posts:</h2> 
                        <ul>
                            {% for post in execution-deliverable[1] %}
                              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </section>