    <!-- Strategy Section -->
    <section id="services" class="content-section text-center">
        <div class="strategy-section">
            <div class="container" class="services-container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Research & Definition</h1>
                    <h2>Start with what you know. Find out what you don’t.</h2>
                    <p>Understanding your audience is key. So is understanding your offering, and where it fits in the marketplace. Maybe you’ve been in business for years, understand your market and your audience, but don’t know how to turn that into actionable marketing intelligence. Maybe you’re launching a new offering, and you know there’s a market for it, you’re just not sure where. At Fractal, we’re experts at compiling, synthesizing and understanding your institutional knowledge, that baked-in understanding of the marketplace that’s guided you until know. We’re also experts at identifying gaps in that knowledge, and carrying out the research needed to fill them. And even if our engagement with you ends there, you’ve still got documentation that you can use to guide your future marketing endeavors. </p>
                    <h2>Fractal offers the following research and definition services:</h2>
                    <div class="deliverable-highlight">
                        <h3>Audience personas</h3>
                        <p>Audience Personas are models of who your primary target market segments are. APs help us structure our marketing activities, by defining who we’re going to target, where we’re going to target them and what they need (to hear) from us. </p>
                    </div>
                    <img class="deliverable-image" src="/img/doc.svg">
                    <div class="deliverable-highlight-right">
                        <h3>Product definition</h3>
                        <p>Audience Personas are models of who your primary target market segments are. APs help us structure our marketing activities, by defining who we’re going to target, where we’re going to target them and what they need (to hear) from us. </p>
                    </div>
                    <img class="deliverable-image-left" src="/img/doc.svg">
                    <div class="deliverable-highlight">
                        <h3>Competitive & Market Landscape Research</h3>
                        <p>Audience Personas are models of who your primary target market segments are. APs help us structure our marketing activities, by defining who we’re going to target, where we’re going to target them and what they need (to hear) from us. </p>
                    </div>
                    <img class="deliverable-image" src="/img/doc.svg">
                  
                    <h2>Take a look at some other relevant posts:</h2> 
                    <ul>
                        {% for post in site.tags.research-deliverable %}
                          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <div>div</div>
                </div>
            </div>
        </div>
    </section>