    <!-- Services Section -->
    <section id="services" class="content-section text-center">
        <div class="services-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services</h2>
                    <p>Here are gonna be four big icons that are the services Fractal offers, each linking to their own page.</p>
                    <a href="/research" class="btn btn-default btn-lg">Research</a>
                    <a href="/strategy" class="btn btn-default btn-lg">Strategy</a>
                    <a href="/execution" class="btn btn-default btn-lg">Execution</a>
                    <a href="/training" class="btn btn-default btn-lg">Training</a>
                </div>
            </div>
        </div>
    </section>