    <!-- Strategy Section -->
    <section id="services" class="content-section text-center">
        <div class="strategy-section">
            <div class="container" class="services-container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Strategy</h1>
                    <p>There are literally hundreds of marketing tactics you can invest in. There’s an overwhelming number of possibilities. A solid marketing strategy offers clarity of purpose. It aligns intention with action, and prioritizes only the essential activities you need to meet your goals.</p>
                    <p>Its most important function is to sharpen your focus. It details exactly what we need to say to your prospective customers and where we need to say it. In the simplest sense, a marketing strategy from Fractal explores how we’ll:</p>
                    <ul class="bullet-list">
                        <li>Deliver the right <strong>message</strong>,</li>
                        <li>To the right <strong>audience</strong>,</li>
                        <li>At the right <strong>moment</strong>,</li>
                        <li>On the right <strong>channel</strong>,</li>
                        <li>With the right <strong>call-to-action</strong>,</li>
                        <li>Asking them to take the right <strong>next step</strong>.</li>
                    </ul>
                    <h2>An evidence-based approach</h2>
                    <p>Fractal delivers marketing strategies informed by research, existing data & analytics, marketing best-practices and our own experience. Our marketing strategies are based on solid, relevant insights derived from research deliverables such as: </p>
                    <ul class="bullet-list">
                        <li>Audience Profiles</li>
                        <li>Landscape Analysis</li>
                        <li>Marketing Audit</li>
                        <li>Product Definition</li>
                        <li>Value Proposition</li>
                    </ul>
                    <h2>Where will it take you?</h2>
                    <p>The strategic process produces its own deliverables, including:</p>
                    <ul class="bullet-list">
                        <li>Measurement Framework</li>
                        <li>Audience Journeys</li>
                        <li>Key Messages</li>
                        <li>Tactical Matrix </li>
                        <li>Media Budget & Blocking Chart</li>
                        <li>Content Calendar</li>
                        <li>Rollout & Implementation Plan</li>
                    </ul>
                        <h2>Take a look at some other relevant posts:</h2> 
                        <ul>
                            {% for post in site.tags.strategy-deliverable %}
                              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </section>